@use "./variables" as *;


.card {
    .card__description {
        font-size: 1.25rem;
        color: $color-grey;
        margin: 1rem;
    }

    .card__heading {
        color: $color-black;
        font-size: 2rem;
        margin: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .card__category {
            font-size: 0.7rem;
            text-decoration: none;
            color: $color-black;
            background-color: $color-grey;
            padding: 7px;
            border-radius: 25px;

            &--modifier {
                background-color: $color-green;

            }
            
        }

        .card__menu {
            margin: 0;
        }
    
    }
    &--border{
       border: 1px $color-green solid; 
    }

    .card__wrapper {
        margin: 1rem;
    }

}