@use "./variables" as *;
@use "./buttons";
@use "./text";
@use "./images";
@use "./cards";

*{
    padding: 0;
    margin: 0;
}

main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}





